.card_test {
  padding: 20px;
  width: 420px;
  background: #FFFFFF;
  box-shadow: 6px 4px 4px rgba(0, 35, 160, 0.25);
  border-radius: 10px;
  margin-right: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;

  h3 {
    align-self: start;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #333333;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #333333;
    width: 100%;
    margin-bottom: 30px;
  }

  button {
    width: 250px;
    height: 36px;
    border-radius: 10px;
    background-color: #0023A0;
    color: #FFFFFF;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 6px 4px 4px 0px #0023a040;
    transition: all 0.3s ease;

    &:hover {
      background-color: #3659D6;
    }

    &:active {
      border: 1px solid #0023A0;
      background-color: #FFFFFF;
      color: #0023A0;
    }

  }
}

@media (max-width: 1400px) {
  .test-card {
    width: 320px;

    button {
      width: 280px;
    }
  }
}

@media (max-width: 1024px) {
  .test-card {
    width: 280px;

    button {
      width: 240px;
    }
  }
}

@media (max-width: 768px) {
  .test-card {
    width: 230px;

    button {
      width: 200px;
    }
  }
}


@media (min-width: 1920px) and (max-width: 1920px) {
  .card_test {
    width: 650px;
    height: 500px;
    padding: 35px;
    margin-right: 30px;

    h3 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    img {
      margin-bottom: 35px;
    }

    p {
      font-size: 20px;
      margin-bottom: 35px;
    }

    button {
      width: 300px;
      height: 45px;
      font-size: 20px;
    }
  }
}